Ask for a color and store that answer
If the answer is grey then print out you found Victor's favorite color.
Otherwise print out the color is not Victor's favorite color.

In [15]:
color = input ("Enter the color:  ")
favorite_color = "grey" 

if color == favorite_color:
    print ("You found Victor's favorite color!")
else:
    print("The color in not Victor's favorite color")

Enter the color:  grey
You found Victor's favorite color!

Now with the code before add in more conditions for other colors such as red, green, blue and write statements for them.

In [18]:
color = input ("Enter the color:  ")
favorite_color = "grey" 
color1 = "red"
color2 = "green"

if color == favorite_color:
    print ("You found Victor's favorite color!")
elif color == color1:
    print ("Red is not the color")
elif color == color2:
    print ("Green is not the color")
else:
    print("The color in not Victor's favorite color")

Enter the color:  grey
You found Victor's favorite color!

Ask for an exam score and store that number
If the number is greater than 100
print out you cannot have an exam score higher than 100.
if the number doesn't exceeed 100 but is greater than 75
print out you did great on your exam!
otherwise if they scored lower than 75
print out that they need to study harder.

In [23]:
exam_score = input ("Enter exam score:   ")
exam_score = int(exam_score)

if exam_score > 100:
    print ("Incorrect score entered.  You cannot have an exam score greater than 100.")
elif exam_score > 75:
    print ("You did great on your exam.")
else:
    print ("You need to study harder.")

Enter exam score:   80
You did great on your exam.

Define a function that takes in 3 numbers and adds them together
Define a function that takes in 2 numbers and multiplies them
Tell the user to choose option 1 to add three numbers or to choose option 2 to mutiply two numbers.
If they choose 1 then use the first function otherwise if they choose 2 then use the second function.

In [97]:
def func1 (a,b,c):
    return a+b+c

def func2 (x,y):
    return x*y


answer = input ("Enter either 1 or 2:  ")
answer = int(answer)

if answer == 1:
    first = 1
    second =2
    third = 4
    answer3 = func1(first, second, third)
    print(answer3)
elif answer == 2:
    yw = 3
    d = 4
    answer4 = func2(yw,d)
    print(answer4)
else:
    print ("Incorrect answer!")

Enter either 1 or 2:  4
Incorrect answer!

Make a loop go from 50 to 100 and print every iteration

In [43]:
s = 50
s = int(s)
while s < 100:
    s = s+1
    print (s)
print ("You made it")

51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
You made it

Make an empty list and call it names

In [146]:
names = []

Make names filled with names of 5 people (Hannah, Victor, Sam, James, John)

In [147]:
names.append (  "Hannah" )
names.append (  "Victor" )
names.append (   "Sam"  )
names.append (  "James" )
names.append (   "John"  )

print (names)

['Hannah', 'Victor', 'Sam', 'James', 'John']

Make names sorted in reverse. Print out the list using a for-enchanced loop

In [151]:

for people in names:
    names.sort(reverse = True)
    
print (names)

['Victor', 'Sam', 'John', 'James', 'Hannah']

Make names sorted alphabetically. Print out the list using regular for loop

In [ ]:
names.append (  "Hannah" )
names.append (  "Victor" )
names.append (   "Sam"  )
names.append (  " James" )
names.append (   "John"  )

print (names[0])

Pull out the fourth item from names and print it out

In [87]:
names.append (  "Hannah" )
names.append (  "Victor" )
names.append (   "Sam"  )
names.append (  " James" )
names.append (   "John"  )

print (names[3])

 James

Pull out the first item from names and print it out

In [88]:
names.append (  "Hannah" )
names.append (  "Victor" )
names.append (   "Sam"  )
names.append (  " James" )
names.append (   "John"  )

print (names[0])

Hannah

Make an empty list called words and add each word into the list using the append function. The words are (Hello, Python,Class, Friends, Online, Jupyter).
Print out the list using a for-enchanced loop

In [105]:
words = []

words.append ("Hello")
words.append ("Python")
words.append  ("Class")
words.append ("Friends")
words.append ("Online")

for i in words:
    print(i)

Hello
Python
Class
Friends
Online

Make words lose it's last word and print out the new list.

In [106]:
remove = words.pop()

words

['Hello', 'Python', 'Class', 'Friends']

Make a variable named fruits that contains a string "Apples Oranges Bananas Pineapples Persimmons Dragonfruit" and make it into a list splitting it by the spaces.

In [108]:
fruits = "Apples Oranges Bananas Pineapples Persimmons Dragonfruit"

stuff = fruits.split(' ')

stuff

['Apples', 'Oranges', 'Bananas', 'Pineapples', 'Persimmons', 'Dragonfruit']

Make a variable named fruits that contains a string "Apples,Oranges,Bananas,Pineapples,Persimmons,Dragonfruit" and make it into a list splitting it by the commas.

In [119]:
fruits = "Apples,Oranges,Bananas,Pineapples,Persimmons,Dragonfruit" 

stuff1 = fruits.split(',')

stuff1

['Apples', 'Oranges', 'Bananas', 'Pineapples', 'Persimmons', 'Dragonfruit']